@{
    ViewData["Title"] = "AllEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row mt-5">



        @if (ViewBag.GETALL.Status == true)
        {
            foreach (var item in @ViewBag.GETALL.Data)
            {
                <div class="col-xl-4 col-lg-3 col-md-4 col-sm-8 mb-4">
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b card-stretch h-100 ">
                        <!--begin::Body-->

                        <div class="card-body pt-4  ">
                            <!--begin::Toolbar-->
                            <div class="d-flex justify-content-end">
                                <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="left">
                                    <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ki ki-bold-more-hor"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                        <!--begin::Navigation-->
                                        <ul class="navi navi-hover">
                                            <li class="navi-header font-weight-bold py-4">
                                                <span class="font-size-lg">Choose Label:</span>
                                                <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="Click to learn more..."></i>
                                            </li>
                                            <li class="navi-separator mb-3 opacity-70"></li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-text">
                                                        <span class="label label-xl label-inline label-light-success">Customer</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-text">
                                                        <span class="label label-xl label-inline label-light-danger">Partner</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-text">
                                                        <span class="label label-xl label-inline label-light-warning">Suplier</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-text">
                                                        <span class="label label-xl label-inline label-light-primary">Member</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
                                                    <span class="navi-text">
                                                        <span class="label label-xl label-inline label-light-dark">Staff</span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="navi-separator mt-3 opacity-70"></li>
                                            <li class="navi-footer py-4">
                                                <a class="btn btn-clean font-weight-bold btn-sm" href="#">
                                                    <i class="ki ki-plus icon-sm"></i>Add new
                                                </a>
                                            </li>
                                        </ul>
                                        <!--end::Navigation-->
                                    </div>
                                </div>
                            </div>
                            <!--end::Toolbar-->
                            <!--begin::User-->
                            <div class="d-flex align-items-end mb-7">
                                <!--begin::Pic-->
                                <div class="d-flex align-items-center">
                                    <!--begin::Pic-->
                                    <div class="flex-shrink-0 mr-4 mt-lg-0 mt-3">
                                        <div class="symbol symbol-circle symbol-lg-75">
                                            @* <img src="assets/media/users/300_1.jpg" alt="image" /> *@
                                            @* <img src="~/images/vikas.jpg" /> *@
                                            <img src="~/images/vikas 2.jpg" />


                                        </div>
                                        <div class="symbol symbol-lg-75 symbol-circle symbol-primary d-none">
                                            <span class="font-size-h3 font-weight-boldest">JM</span>
                                        </div>
                                    </div>
                                    <!--end::Pic-->
                                    <!--begin::Title-->
                                    <div class="d-flex flex-column">
                                        <a href="#" class="text-dark font-weight-bold text-hover-primary font-size-h4 mb-0">Theme</a>
                                        <span class="text-muted font-weight-bold">AllEvents</span>
                                    </div>
                                    <!--end::Title-->
                                </div>
                                <!--end::Title-->
                            </div>
                            <!--end::User-->
                            <!--begin::Desc-->
                            @* <p class="mb-7">
						I distinguish three
						<a href="#" class="text-primary pr-1">#XRS-54PQ</a>objectives First objectives and nice cooked rice
					</p> *@
                            <!--end::Desc-->
                            <!--begin::Info-->
                            <div class="mb-7"  >
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="text-dark-75 font-weight-bolder mr-2">Name:</span>
                                    <a href="#" class="text-muted text-dark-75   text-hover-primary">@item.Event_Name</a>
                                </div>
                                <div class="d-flex justify-content-between align-items-cente my-1">
                                    <span class="text-dark-75 font-weight-bolder mr-2">Date:</span>
                                    <a href="#" class="text-muted text-dark-75   text-hover-primary">@item.Event_Date</a>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="text-dark-75 font-weight-bolder mr-2">discription:</span>
                                    <span class="text-muted text-dark-75   font-weight-bold">@item.Event_discription</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="text-dark-75 font-weight-bolder mr-2">Location:</span>
                                    <span class="text-muted text-dark-75   font-weight-bold">@item.Location</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-cente my-1">
                                    <span class="text-dark-75 font-weight-bolder mr-2">Price:</span>
                                    <a href="#" class="text-muted text-dark-75   text-hover-primary">@item.price</a>
                                </div>
                            </div>
                            <!--end::Info-->
                             <a href="#" class="btn btn-block btn-sm btn-light-primary font-weight-bolder text-uppercase py-4" data-event-id="@item.Event_ID"  data-price-id="@item.price" onclick="Pay(this)">Book Now</a> 

                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
                </div>
            }
        }
        <script>
            
        </script>


    </div>
</div>
